<section class="catalog-section" id="catalog">
<div class="container catalog-container">     
        <h2 class="catalog-head">Catalog</h2>
        <ul class="catalog-list">
          <li class="catalog-item">
            <div class="catalog-photo-text-input">
              <div class="catalog-picture-container">
                <picture class="catalog-image">
                  <source
                    srcset="
                      ./img/img-catalog/garmin-fenix-7x-desktop.png    1x,
                      ./img/img-catalog/garmin-fenix-7x-desktop-2x.png 2x
                    "
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./img/img-catalog/garmin-fenix-7x-tab.png    1x,
                      ./img/img-catalog/garmin-fenix-7x-tab-2x.png 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/img-catalog/garmin-fenix-7x-mob.png    1x,
                      ./img/img-catalog/garmin-fenix-7x-mob-2x.png 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    src="./img/img-catalog/garmin-fenix-7x-desktop.png"
                    alt="Watch Garmin Fenix 7X Pro Sapphire Solar"
                    width="304"
                    height="312"
                  />
                </picture>
              </div>
              <div class="catalog-watch-name-price">
                <h3 class="catalog-watch-name">
                  Garmin Fenix 7X Pro Sapphire Solar
                </h3>
                <p class="catalog-watch-price">€500</p>
              </div>
            </div>
          </li>
          <li class="catalog-item">
            <div class="catalog-photo-text-input">
              <div class="catalog-picture-container">
                <picture class="catalog-image">
                  <source
                    srcset="./img/img-catalog/garmin-marq-desktop.png 1x, ./img/img-catalog/garmin-marq-desktop-2x.png 2x
                    "
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./img/img-catalog/garmin-marq-tab.png 1x,
                      ./img/img-catalog/garmin-marq-tab-2x.png 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/img-catalog/garmin-marq-mob.png    1x,
                      ./img/img-catalog/garmin-marq-mob-2x.png 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    src="./img/img-catalog/garmin-marq-desktop.png"
                    alt="Watch Garmin Marq Athlete"
                    width="304"
                    height="312"
                  />
                </picture>
              </div>
              <div class="catalog-watch-name-price">
                <h3 class="catalog-watch-name">Garmin Marq Athlete</h3>
                <p class="catalog-watch-price">€450</p>
              </div>
            </div>
          </li>
          <li class="catalog-item">
            <div class="catalog-photo-text-input">
              <div class="catalog-picture-container">
                <picture class="catalog-image">
                  <source
                    srcset="./img/img-catalog/garmin-descent-desktop.png 1x, ./img/img-catalog/garmin-descent-desktop-2x.png 2x"
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./img/img-catalog/garmin-descent-tab.png 1x,
                      ./img/img-catalog/garmin-descent-tab-2x.png 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/img-catalog/garmin-descent-mob.png    1x,
                      ./img/img-catalog/garmin-descent-mob-2x.png 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    src="./img/img-catalog/garmin-descent-desktop.png"
                    alt="Watch Garmin Descent MK1"
                    width="304"
                    height="312"
                  />
                </picture>
              </div>
              <div class="catalog-watch-name-price">
                <h3 class="catalog-watch-name">Garmin Descent MK1</h3>
                <p class="catalog-watch-price">€680</p>
              </div>
            </div>
          </li>
          <li class="catalog-item">
            <div class="catalog-photo-text-input">
              <div class="catalog-picture-container">
                <picture class="catalog-image">
                  <source
                    srcset="./img/img-catalog/garmin-d2-desktop.png 1x, ./img/img-catalog/garmin-d2-desktop-2x.png 2x      "
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./img/img-catalog/garmin-d2-tab.png    1x,
                      ./img/img-catalog/garmin-d2-tab-2x.png 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./img/img-catalog/garmin-d2-mob.png    1x,
                      ./img/img-catalog/garmin-d2-mob-2x.png 2x
                    "
                    media="(max-width:767px)"
                  />
                  <img
                    src="./img/img-catalog/garmin-d2-desktop.png"
                    alt="Watch Garmin D2 Delta XP"
                    width="304"
                    height="312"
                  />
                </picture>
              </div>
              <div class="catalog-watch-name-price">
                <h3 class="catalog-watch-name">Garmin D2 Delta PX</h3>
                <p class="catalog-watch-price">€380</p>
              </div>
            </div>
          </li>
          <li class="catalog-item catalog-item-mob-comp">
            <div class="catalog-photo-text-input">
              <div class="catalog-picture-container">
                <picture class="catalog-image">
                  <source
                    srcset="./img/img-catalog/garmin-fenix-6-desktop.png 1x, ./img/img-catalog/garmin-fenix-6-desktop-2x.png 2x
                    "
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./img/img-catalog/garmin-fenix-6-tab.png    1x,
                      ./img/img-catalog/garmin-fenix-6-tab-2x.png 2x
                    "
                    media="(min-width:768px)"
                  />
                  <img
                    src="./img/img-catalog/garmin-fenix-6-desktop.png"
                    alt="Watch Garmin Fenix 6 Pro Solar"
                    width="304"
                    height="312"
                  />
                </picture>
              </div>
              <div class="catalog-watch-name-price">
                <h3 class="catalog-watch-name">Garmin Fenix 6 Pro Solar</h3>

                <p class="catalog-watch-price">€400</p>
              </div>
            </div>
          </li>
          <li class="catalog-item catalog-item-mob-comp">
            <div class="catalog-photo-text-input">
              <div class="catalog-picture-container">
                <picture class="catalog-image">
                  <source
                    srcset="./img/img-catalog/tube-watch-desktop.png 1x, ./img/img-catalog/tube-watch-desktop-2x.png 2x
                    "
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./img/img-catalog/tube-watch-tab.png    1x,
                      ./img/img-catalog/tube-watch-tab-2x.png 2x
                    "
                    media="(min-width:768px)"
                  />
                  <img
                    src="./img/img-catalog/tube-watch-desktop.png"
                    alt="Tube Watch S42 Date Steel With Black Case"
                    width="304"
                    height="312"
                  />
                </picture>
              </div>
              <div class="catalog-watch-name-price">
                <h3 class="catalog-watch-name">
                  Tube Watch S42 Date Steel With Black Case
                </h3>
                <p class="catalog-watch-price">€395</p>
              </div>
            </div>
          </li>
        </ul>
        <button class="catalog-button" type="button">Show more</button>
      </div>
    </div>
    </section>