<footer class="footer-main container" id="footer">
  <div class="footer">
    <div class="footer-top">
      <div class="footer-contacts">
        <div class="footer-contacts-section">
          <a href="./index.html" class="footer-logo" target="_blank"
            >watchcharm</a
          >

          <ul class="footer-socials-list">
            <li class="footer-socials-item">
              <a
                class="footer-socials-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
              >
                <svg class="footer-socials-icon">
                  <use
                    href="./img/header/header-footer-icons.svg#icon-facebook-footer"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="footer-socials-item">
              <a
                class="footer-socials-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
              >
                <svg class="footer-socials-icon">
                  <use
                    href="./img/header/header-footer-icons.svg#icon-instagram-footer"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="footer-socials-item">
              <a
                class="footer-socials-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
              >
                <svg class="footer-socials-icon">
                  <use
                    href="./img/header/header-footer-icons.svg#icon-youtube-footer"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <a href="tel:+380684439426" class="footer-contacts-phone"
          >+380 (68) 443-94-26</a
        >
      </div>

      <p class="footer-title">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>

      <div class="footer-anchors">
        <ul class="footer-anchors-list">
          <li class="footer-anchors-item">
            <a href="#logo" class="footer-anchors-link">Home</a>
          </li>
          <li class="footer-anchors-item">
            <a href="#about-us" class="footer-anchors-link">About Us</a>
          </li>
          <li class="footer-anchors-item">
            <a href="#catalog" class="footer-anchors-link">Catalog</a>
          </li>
          <li class="footer-anchors-item">
            <a href="#sale" class="footer-anchors-link">Sale</a>
          </li>
          <li class="footer-anchors-item">
            <a href="#reviews" class="footer-anchors-link">Reviews</a>
          </li>
          <li class="footer-anchors-item">
            <a href="#contact-us" class="footer-anchors-link">Contact Us</a>
          </li>
        </ul>

        <address>
          <a
            href="https://maps.google.com/?q=40.733719248005336,-111.96006524673768"
            class="footer-anchors-address"
            target="_blank"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </address>
      </div>
    </div>

    <div class="footer-btm">
      <p class="copyright">©2024 The Watch Spot. All rights reserved.</p>

      <div class="policy-list">
          <a href="#" class="policy-link" target="_blank">Terms of Service</a>
          
          <a href="#" class="policy-link" target="_blank">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
