<header class="header-main" id="logo">
  <div class="header container">
    <a href="./index.html" class="logo">watchcharm</a>

    <div class="header-menu" id="header-menu">
      <button class="header-menu-close" type="button" id="menu-close-button">
        <svg class="menu-close-icon">
          <use
            href="./img/header/header-footer-icons.svg#icon-menu-close"
          ></use>
        </svg>
      </button>

      <nav class="navigation">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a href="#logo" class="header-menu-link">Home</a>
          </li>
          <li class="header-menu-item">
            <a href="#about-us" class="header-menu-link">About Us</a>
          </li>
          <li class="header-menu-item">
            <a href="#catalog" class="header-menu-link">Catalog</a>
          </li>
          <li class="header-menu-item">
            <a href="#sale" class="header-menu-link">Sale</a>
          </li>
          <li class="header-menu-item">
            <a href="#reviews" class="header-menu-link">Reviews</a>
          </li>
          <li class="header-menu-item">
            <a href="#contact-us" class="header-menu-link">Contact Us</a>
          </li>
        </ul>
      </nav>

      <ul class="header-social-list">
        <li class="header-social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-social-link"
            target="_blank"
          >
            <svg class="header-social-icon">
              <use
                href="./img/header/header-footer-icons.svg#icon-facebook-footer"
              ></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-social-link"
            target="_blank"
          >
            <svg class="header-social-icon">
              <use
                href="./img/header/header-footer-icons.svg#icon-instagram-footer"
              ></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-social-link"
            target="_blank"
          >
            <svg class="header-social-icon">
              <use
                href="./img/header/header-footer-icons.svg#icon-youtube-footer"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-overlay"></div>

    <button type="button" class="header-menu-open" id="menu-open-button">
      <svg class="menu-open-icon">
        <use href="./img/header/header-footer-icons.svg#icon-menu-header"></use>
      </svg>
    </button>
  </div>
</header>
