<section class="hero-main container">
    <div class="hero">
      <div class="hero-content">
        <div class="hero-content-text">
          <h1 class="hero-title">
            Welcome to our <span class="marked">collection</span> of premium
            watches
          </h1>
  
          <p class="hero-text">
            Our watches are not just timepieces, but also an expression of your
            personality and lifestyle. From classic designs to modern ones, we
            have a watch to suit every taste and occasion.
          </p>
        </div>
  
        <div class="hero-extra">
          <ul class="hero-people-list">
            <li class="hero-people-item">
              <picture>
                <source
                  srcset="./img/hero/hero-face-1.png 1x, ./img/hero/hero-face-1@2x.png 2x"
                />
                <img
                  class="hero-people-image"
                  src="./img/hero/hero-face-1.png"
                  alt="person 1"
                />
              </picture>
            </li>
            <li class="hero-people-item">
              <picture>
                <source
                  srcset="./img/hero/hero-face-2.png 1x, ./img/hero/hero-face-2@2x.png 2x"
                />
                <img
                  class="hero-people-image"
                  src="./img/hero/hero-face-2.png"
                  alt="person 2"
                />
              </picture>
            </li>
            <li class="hero-people-item">
              <picture>
                <source
                  srcset="./img/hero/hero-face-3.png 1x, ./img/hero/hero-face-3@2x.png 2x"
                />
                <img
                  class="hero-people-image"
                  src="./img/hero/hero-face-3.png"
                  alt="person 3"
                />
              </picture>
            </li>
          </ul>
  
          <a href="#footer" class="scroll-btn">Scroll down</a>
        </div>
      </div>
  
      <div class="hero-image">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="./img/hero/hero-m.jpg 1x, ./img/hero/hero-m@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="./img/hero/hero-t.jpg 1x, ./img/hero/hero-t@2x.jpg 2x"
          />
          <source
            media="(min-width: 1280px)"
            srcset="./img/hero/hero-d.jpg 1x, ./img/hero/hero-d@2x.jpg 2x"
          />
          <img class="hero-image" src="./img/hero/hero-m.jpg" alt="hero image" />
        </picture>
      </div>
    </div>
  </section>
  