<section id="hero" class="hero">
    <div class="container">
      <div class="hero_flex">
        <div class="hero_inf">
          <h1 class="title_name">
            Welcome to our <span class="title_span">collection</span> of
            premium watches
          </h1>
          <p class="title_description">
            Our watches are not just timepieces, but also an expression of
            your personality and lifestyle. From classic designs to modern
            ones, we have a watch to suit every taste and occasion.
          </p>
        </div>
        <div class="hero_title">
          <picture>
            <source
              srcset="
                ./hero/hero_logo_pc_2x.png 2x,
                ./hero/hero_logo_pc.png    1x
              "
              media="(min-width: 1280px)"
              width="146px"
              heigth="60px"
            />
            <source
              srcset="
                ./hero/hero_logo_tab_2x.png 2x,
                ./hero/hero_logo_tab.png    1x
              "
              media="(min-width: 768px)"
              width="136px"
              heigth="60px"
            />
            <source
              srcset="
                ./hero/hero_logo_mob_2x.png 2x,
                ./hero/hero_logo_mob.png    1x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./hero/hero_logo_mob.png"
              alt="logo_mob"
              width="108px"
              height="44px"
            />
          </picture>
          <a href="#footer" onclick="scrollToFooter()" class="scroll_bar"
            >Scroll down</a
          >
        </div>
      </div>
      <picture class="picture_bg">
        <source
          srcset="./hero/hero_bg_pc_2x.png 2x, ./hero/hero_bg_pc.png 1x"
          media="(min-width: 1280px)"
          width="1150px"
          heigth="500px"
        />
        <source
          srcset="./hero/hero_bg_tab_2x.png 2x, ./hero/hero_bg_tab.png 1x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./hero/hero_bg_mob_2x.png 2x, ./hero/hero_bg_mob.png 1x"
          media="(min-width: 320px)"
        />
        <img
          src="./hero/hero_bg_mob.png"
          class="hero_bg_img"
          alt="logo_mob"
          min-width="280px"
          max-width="335px"
          height="366px"
        />
      </picture>
    </div>
  </section>