<section id="sale" class="sale">
    <div class="sales container">
        <h2 class="sales-title">Sale</h2>

        <div class="sales-content">
            <div class="sales-images">
                <ul class="sales-watch-gallery">
                    <li class="sales-watch-item">
                        <img class="sales-watch-image"
                            srcset="./img/sale/sales-watch-1.png 1x, ./img/sale/sales-watch-1@2x.png 2x"
                            src="./img/sale/sales-watch-1.png" alt="watch-1" />
                    </li>

                    <li class="sales-watch-item">
                        <img class="sales-watch-image"
                            srcset="./img/sale/sales-watch-2.png 1x, ./img/sale/sales-watch-2@2x.png 2x"
                            src="./img/sale/sales-watch-2.png" alt="watch-2" />
                    </li>

                    <li class="sales-watch-item">
                        <img class="sales-watch-image"
                            srcset="./img/sale/sales-watch-3.png 1x, ./img/sale/sales-watch-3@2x.png 2x"
                            src="./img/sale/sales-watch-3.png" alt="watch-3" />
                    </li>

                    <li class="sales-watch-item">
                        <img class="sales-watch-image"
                            srcset="./img/sale/sales-watch-4.png 1x, ./img/sale/sales-watch-4@2x.png 2x"
                            src="./img/sale/sales-watch-4.png" alt="watch-4" />
                    </li>
                </ul>

                <div class="watch-main-photo">
                    <img class="sales-watch-image" srcset="
              ./img/sale/sales-watch-main.png    1x,
              ./img/sale/sales-watch-main@2x.png 2x
            " src="./img/sale/sales-watch-main.png" alt="watch-main" />
                </div>
            </div>

            <div class="sales-watch-description">
                <h3 class="watch-description-title">
                    MARQ® Commander (Gen 2) - Carbon Edition
                </h3>

                <p class="watch-item-tag">Product tag: 706587</p>

                <span class="watch-price">€1500</span>
                <span class="watch-old-price">€3000</span>

                <p class="watch-description">
                    The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
                    for adventurers that takes materials and features to the next level.
                    The body of the watch is made of very durable Fused Carbon Fiber
                    material and has a precise AMOLED touch screen. The sensitive touch
                    screen is complemented by buttons that can be used in any conditions.
                </p>

                <ul class="watch-tags-list">
                    <li class="watch-tags-item">
                        <a href="#" class="watch-tags-link">Fused carbon fiber</a>
                    </li>
                    <li class="watch-tags-item">
                        <a href="#" class="watch-tags-link">Grade-5 Titanuim</a>
                    </li>
                    <li class="watch-tags-item">
                        <a href="#" class="watch-tags-link">Athlete</a>
                    </li>
                    <li class="watch-tags-item">
                        <a href="#" class="watch-tags-link">Golfer</a>
                    </li>
                    <li class="watch-tags-item">
                        <a href="#" class="watch-tags-link">Commander</a>
                    </li>
                    <li class="watch-tags-item">
                        <a href="#" class="watch-tags-link">Adventurer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>