<section class="sale">
    <div class="main-container">
      <h2 class="sale-title">Sale</h2>
      <div class="product-fth">
       <ul class="sidebar-watch-list">
        <li class="watch-list-item">
            <img class="sale-img"
            srcset="./img/sale/watch11px.png, ./img/sale/watch12px.png"
            src="./img/sale/watch4.png"
            alt="first watch"
            width="96px"
            height="100px"
            />
        </li>
        <li class="watch-list-item">
          <img class="sale-img"
          srcset="./img/sale/watch21px.png, ./img/sale/watch22px.png"
            src="./img/sale/watch3.png"
            alt="second watch"
            width="96px"
            height="100px"
            />
        </li>
        <li class="watch-list-item">
          <img class="sale-img"
          srcset="./img/sale/watch31px.png, ./img/sale/watch32px.png"
            src="./img/sale/watch2.png"
            alt="thrd watch"
            width="96px"
            height="100px"
            />
        </li>
        <li class="watch-list-item">
          <img class="sale-img"
          srcset="./img/sale/watch41px.png, ./img/sale/watch42px.png"
            src="./img/sale/watch1.png"
            alt="frth watch"
            width="96px"
            height="100px"
            />
        </li>
      </ul>
      <div>
      <ul class="product-list">
        <li class="sale-product">
          <img class="sale-img-w"
          srcset="./img/sale/watch1px.png, ./img/sale/watchpx.png"
          src="./img/sale/watch.png"
          alt="product watch"
          width: 328px;
          height: 398px;
          />
        </li>
        <li class="sale-descr">
          <div class="sale-descr-container">
            <h3 class="sale-descr-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
            <p class="sale-descr-subtitle">Product tag: 706587</p>
          </div>
            <div class="new-price">€1500</div>
            <div class="old-price">€3000</div>
          <p class="product-descr">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions. 
          </p>
          <ul class="watch-type">
            <li class="type-descrone">
              <p class="watch-type-rgh">Fused carbon fiber</p>
            </li>
            <li class="type-descrtwo">
              <p class="watch-type-rgh">Grade-5 Titanuim</p>
            </li>
            <li class="type-descrthree">
              <p class="watch-type-rgh">Athlete</p>
            </li>
            <li class="type-descrfour">
              <p class="watch-type-rgh">Golfer</p>
            </li>
            <li class="type-descrfive">
              <p class="watch-type-rgh">Commander</p>
            </li>
            <li class="type-descrsix">
              <p class="watch-type-rgh">Adventurer</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
      </div>
    </div>
    </section>