.advertisement {
    padding-top: 30px;
    padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
    .advertisement {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media screen and (min-width: 1280px) {
    .advertisement {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.advertisement-container {
    background: #0c0c0c;
    background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/img/advertisement.img/image-advertisement-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 60px 28px;
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .advertisement-container {
        background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/img/advertisement.img/image-advertisement-mob@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .advertisement-container {
        padding: 80px 64px;
        background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/img/advertisement.img/image-advertisement-tab.jpg);
    }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .advertisement-container {
background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/img/advertisement.img/image-advertisement-tab@2x.jpg);
            }
        }
}
@media screen and (min-width: 1280px) {
    .advertisement-container {
        padding: 83px 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/img/advertisement.img/image-advertisement.jpg);
    }
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .advertisement-container {
background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)), url(/img/advertisement.img/image-advertisement@2x.jpg);
            }
        }
}
.advertisement-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .advertisement-text {
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 32px;
    }
}
@media screen and (min-width: 1280px) {
    .advertisement-text {
        max-width: 690px;
    }
}

.accent {
    color: rgba(251, 251, 251, 0.5);
}

.advertisement-btn {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    padding: 15px 43px 15px 44px;
    min-width: 160px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advertisement-btn:hover , .advertisement-btn:focus {
    color: #0c0c0c;
    background-color: #fbfbfb;
}
