@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./catalog.css');
@import url('./advertisement.css');
@import url('./sale.css');
@import url('./reviews.css');
@import url('./contact.css');
@import url('./footer.css');
